#login{
    background: linear-gradient(120deg, #4c79d3 44.9%, #ffffff 45%) no-repeat fixed;
}
#app{
    background: linear-gradient(120deg, white 44.9%, #4c79d3 45%) no-repeat fixed;
}
header{
    border-bottom: 1px solid #bebcbc;
    padding: 5px;
    background-color: white;
}
.color-primary{
    color: #4e0070;
}
.color-secundary{
    color: #4c79d3;
}
.icon-detail{
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
.text-login{
    color: white;
    font-size: 20px;
    font-weight: 900;
}
.coins{
    position: absolute;
    bottom: 100px;
}
.botton-login{
    border-radius: 50px;
    background-color: #4e0070;
    color: white;
    width: 40%;
    margin: 0 30%;
}
.botton-login:hover{
    background: #4c79d3;
    color: white;
}
.button-default{
    background-color: #4e0070;
    color: white;
    border-radius: 10px;
}
.button-cancel{
    border-radius: 10px;
}
.button-default:hover{
    background-color: #4c79d3;
    color: #4e0070;
    border-radius: 10px; 
}
.link-default{
    color: #4e0070;
    cursor: pointer;
}
.link-default:hover{
    color: #4c79d3;
}
.info{
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px 0px;
}