#login{
    background: linear-gradient(15deg, rgba(16, 46, 1, 0.733) 30.5%, rgb(255, 250, 230) 80%) no-repeat fixed; /*Define a cor de fundo da página de login e cria um degradê entre as cores.*/
}
.row{
    min-height: 900%;
    align-items: center;
}
.text-login{
    margin-top: 2%; /*Delimita a margem superior do cabeçalho.*/
    font-size: 3rem; /*Define o tamanho da fonte do texto na tela*/
    text-align: center; /*Centraliza o texto na tela*/
    font-weight: 1000; /*Permite definir o texto em negrito e regular a intesidade*/
}
.text-game{
    background: linear-gradient(800deg, rgba(255, 255, 255, 0.205) 44.5%, rgba(34, 196, 13, 0.568) 100%); /*Define a cor de fundo do texto e cria um degradê entre as cores.*/
    text-align: center;/*Centraliza o texto.*/
    font-size: 1.5rem;
}
.img-right-elfo{
    width: 100%; /*Define a proporção da imagem?*/
    height: 78%;
    aspect-ratio: 16/9; /*Ajusta conforme o tipo de tela.*/
    object-fit: contain;
    margin-left: 11%;/*Define a distância da margem direita em relação a imagem.*/
    margin-top: -11.85%;/*Distância da margem do topo.*/
    display: flex; /*Cria uma forma de imagem fluatuante.*/
    justify-content: right;/*Posiciona a imagem à direita da tela.*/
}
.img-left-orc{
    width: 100%;
    height: 88%;
    aspect-ratio: 16/9; /*Ajusta conforme o tipo de tela.*/
    object-fit: contain;
    display: flex; /*Cria uma forma de imagem fluatuante.*/
    justify-content: left;/*Deveria posicionar a imagem do orc à esquerda da tela de login.*/
    margin-top: -56.25%; /*Ajuste da imagem do orc em relação ao topo da tela.*/
    margin-left: -20%;/*Ajuste da imagem do orc em relação à esquerda da tela.*/
}