#login{
    background: linear-gradient(120deg, rgb(126, 5, 5) 44.5%, rgb(255, 250, 230) 50%); /*Define a cor de fundo da página de login e cria um degradê entre as cores.*/
}
.text-login{
    /* color: rgb(31, 2, 2); Define a cor do texto prinpal a página de login. */
    font-size: 45px; /*Define o tamanho da fonte do texto na tela*/
    text-align: center; /*Centraliza o texto na tela*/
    font-weight: 1000; /*Permite definir o texto em negrito e regular a intesidade*/
}
.text-game{
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.205) 44.5%, rgba(126, 5, 5, 0.274) 50%); /*Define a cor de fundo do texto e cria um degradê entre as cores.*/
    text-align: center;
    font-size: 25px;
}
.img-right-elfo{
    display: flex;
    justify-content: right;/*Posiciona a imagem à direita da tela.*/
}
.img-left-orc{
    float: left;
    margin-right: 20px;
    width: 30%;
}